@import "variables.scss";
@import "framework.scss";

.profile__img {
    .input-image {
        .input-image-img {
            height: 180px !important;
            width: 180px;
            border-radius: 5px;
        }
    }
}